<?xml version="1.0" encoding="UTF-8"?>

<suite name="AtlasSuite" parallel="tests">
	<parameter name="URL" value="" />

	<test name="TestExecution">
		<classes>
			<class name="org.apache.atlas.seleniumtests.SearchPageTest" />
			<class name="org.apache.atlas.seleniumtests.TagsPageTest" />
		</classes>
	</test>
</suite>